
.about{

@media screen and (min-width: 320px) and (max-width:1199px) {
  display: none;
}
}

 
  .about {
    padding-top: 0;
  }
  .about__list {
    display: flex;
  }

  .about__img:not(:last-child) {
    margin-right: 30px;
  }

  .about__img {
    position: relative;
  }

  .about__text {
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-clr);
  }

  .about__overlay {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 370px;
    height: 70px;
  }

