.about {
    padding-top: 0;

    &__list {
            display: flex;
        }
    
        &__img:not(:last-child) {
            margin-right: 30px;
        }
    
        &__img {
            position: relative;
        }
    
        &__text {
            padding-top: 27px;
            padding-bottom: 27px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.42;
            text-align: center;
            text-transform: uppercase;
            color: var(--white-clr);
        }
    
        &__overlay {
            position: absolute;
            background-color: rgba(47, 48, 58, 0.8);
            bottom: 0;
            width: 370px;
            height: 70px;
        }
}

