.feature{
    &__item {
            width: 270px;
        }
    
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    
        &__list {
            margin: auto;
            display: flex;
        }
    
        &__icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            margin-bottom: 30px;
            background-color: #f5f4fa;
            border-radius: 4px;
    
        }
    
        &__title {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--basic-clr);
        }
    
        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            color: var(--secondary-clr);
        }

}
