.footer {
    padding: 60px 0px;
    background-color: var(--secondary-background);
}

.footer-container {
     align-items: baseline;

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.footer-address {
    text-align: center;

    @media screen and (min-width:320px) and (max-width:1199px){
        margin-bottom: 60px;
    }
    @media screen and (min-width:768px) and (max-width:1199px){
        margin-right: 165px;
    }

    @media screen and (min-width:1200px) {
        text-align: left;
        margin-right: 70px;
    }
    
}


/* join-social */
.footer-social {
    @media screen and (min-width:320px) and (max-width:1199px){
        margin-bottom: 60px;
    }

    @media screen and (min-width:1200px) {
        text-align: left;
        margin-right: 93px;
    }
}

.join-social {

    
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-clr);

     @media screen and (min-width:320px){
        text-align: center;
     }

    @media screen and (min-width:1200px){
        text-align: left;
    }
}

.footer-address-social{
    @media screen and (min-width:1200px){
        display: flex;
        align-items: baseline;
    }

    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 60px;
    }
    
}

