// .card-set {
//     display: flex;
//     flex-wrap: wrap;
// }

// .card-set__item {

//     margin-right: 30px;
//     margin-bottom: 30px;
//     flex-basis: calc((100% - 60px) / 3);
// }

// .card-set__item:nth-child(3n) {
//     margin-right: 0px;
// }

// .card-set__item:nth-last-child(-n + 3) {
//     margin-bottom: 0px;
// }

.card-set {
	display: flex;
	flex-wrap: wrap;
	gap: var(--indent);
}

.card-set__item {
	flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}