.overlay {
    position: relative;
    overflow: hidden;

}

.overlay__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card-ov-bg);

    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56em;
    color: #FFFFFF;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
