/* footer Submit */
.footer-submit {
  position: relative;
  min-width: 570px;
  min-height: 86px;
  padding: 0;
}
.submit-form {
  &__group {
    display: block;
  }

  &__text {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;

    color: var(--white-clr);
  }

  &__field {
    display: block;
    padding-left: 16px;
    min-width: 358px;
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--basic-background);
    color: var(--white-clr);
  }
}

